<launch>
  <arg name="team"/>
  <arg name="view" default="0"/>
  <arg name="line" default="0"/>
  <arg name="usb" default="/dev/ttyACM0"/>

  <node pkg="tf" type="static_transform_publisher" name="world_to_cam" 
    args="0 0 0.5 -1.57 0 -1.57 world camera 1" />
	
  <node ns="camera" pkg="image_proc" type="image_proc" name="image_proc"/>

  <node pkg="camera1394" type="camera1394_node" name="camera1394" 
    args="_guid:=00b09d01009ce773 _video_mode:=640x480_mono8 _iso_speed:=400 _frame_rate:=30"/>
 
  <node pkg="image_view" type="image_view" name="image_view" args="image:=camera/image_color" if="$(arg view)"/>

  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>

  <node pkg="vss" type="im_converter" name="im_converter" args="$(arg team)" respawn="true"/>

  <node pkg="vss" type="robot_view" name="robot_view" args="$(arg team)" respawn="true"/>

  <node pkg="vss" type="detectEnemy" name="detectEnemy" args="$(arg team)" respawn="true"/>

  <node pkg="vss" type="setLine" name="setLine" if="$(arg line)"/>

  <node pkg="vss" type="controle" name="controle7" />

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" args="$(arg usb)"/>

  <node name="ar_pose" pkg="ar_pose" type="ar_multi" respawn="false"
    output="screen" args="camera/image_raw:=camera/team">
    <param name="marker_pattern_list" type="string"
      value="$(find ar_pose)/data/vss_4x4"/>
    <param name="threshold" type="int" value="100"/>
  </node>
</launch>
